################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Example/bin/Debug
/.vs/AKKA/v15/Server/sqlite3
/MovieStreaming/bin/Debug
/MovieStreaming/obj/Debug
/packages
